.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 0 3rem;
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

.header__logo {
  /* width: 225px; */
}

.header__logo__image {
  width: 225px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .header {
    height: 5rem;
  }
  .header__logo__image {
    width: 15rem;
  }
}
