.nav {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  white-space: nowrap;
  grid-gap: 3rem;
  height: 100%;
  align-items: center;
  z-index: 10;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  color: #515052;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
}

.nav__link:hover::after,
.nav__link__active::after {
  /* border-bottom: 2px solid #d5a23c; */
  content: "*";
  position: absolute;
  color: #d5a23c;
  left: 41%;
  font-size: 2.5rem;
  bottom: -2.75rem;
}

.nav__link__active {
  font-weight: bold;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .nav {
    opacity: 0;
  }
}
